.delivery-container {

  grid-column: 1;
  grid-area: 1 / 1 / 9 / 2;

}

.delivery-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-address h2 {
  text-align: center;
}

.delivery-address form {
  margin: 32px 0 0 0;
  
  width: 100%;
}

.delivery-address form .finish-product-input-box {
  display: flex;
  flex-direction: column;
  color: rgb(49, 49, 49);
  margin-bottom: 24px;
}

.delivery-address form .finish-product-input-box input {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #0000001c;
  outline: none;
}

.delivery-address-btn {
  padding: 12px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  border: none;
  background-color: rgb(3, 27, 129);
  border-radius: 5px;
  cursor: pointer;
  margin: 6px 0 16px 0;
  
}

.delivery-address-btn:hover {
  opacity: 0.95;
}

.delivery-address-errors {
  margin-top: 48px;
  text-align: left;
  list-style:disc;

  background-color: rgb(255, 222, 222);
  padding: 16px;
  padding-left: 32px;
  border-radius: 5px;
  width: 100%;
  display: none;
}

.delivery-address-errors.show {
  display: block;
}

.delivery-address-errors li {
  list-style-type: disc;
  color: rgb(136, 0, 0);
}