main {
  max-width: 1920px;
  margin: 0 auto;
}

.home-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 9.2rem;
  display: grid;
  margin-top: 96px;
  grid-template-rows: repeat(4, auto);
  gap: 7.2rem;
}

.product-card {
  width: 19%;
}

.flex-anuncio {
  gap: 1.25%;
}

@media (max-width: 1568px) {
  .product-card {
    width: 24%;
  }
  .flex-products {
    gap: 1.1333333333%
  }
}

@media (max-width: 1320px) {
  .product-card {
    width: 32.3333333%;
  }
  .flex-products {
    gap: 1.5%
  }
}

@media (max-width: 1077px) {
  .product-card {
    width: 49%;
  }
  .flex-products {
    gap: 2%
  }
}

@media (max-width: 670px) {
  .product-card {
    width: 100%;
  }

  .flex-products {
    gap: 0%
  }
}