main {
  max-width: 1920px;
  margin: 0 auto;
}

.home-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 9.2rem;
  /* display: grid;

  grid-template-rows: repeat(4, auto);
  gap: 7.2rem; */
}