main {
  max-width: 1920px;
  margin: 0 auto;
}

.home-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 9.2rem;
  display: grid;
  margin-top: 96px;
  grid-template-rows: repeat(4, auto);
  gap: 7.2rem;
}

.product-card {
  width: 19%;
}

.flex-anuncio {
  gap: 1.25%;
}
