/*-=-=- Menu -=-=- */
.menu {
  height: 38px;
  background-color: #1a4895;
  color: white;
  font-size: 1.99rem;
  padding: 0 15rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.menu > li {
  position: relative;
  border-left: 2px solid #123167;
  transition: var(--transition-principal);
}

.menu > li > a > svg {
  height: 2.2rem;
  color: white;
}

.menu > li > a .mouse {
  color: white;
  fill: white;
}

.menu > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 0 3.5rem;
}

.menu > li:last-child {
  border-right: 2px solid #123167;
}

.menu > li:hover {
  /* background-color:rgb(251, 253, 255);
  color: #1a4895; */

  background-color: #123167;
}

.menu > li > a:hover svg {
}

.menu-dep {
  cursor: default;
}
/* sub menu */

.sub-menu {
  display: none;
  background-color: rgb(251, 253, 255);
  z-index: 99999;
  position: absolute;
  width: 320px;

  box-sizing: content-box;
  box-shadow: -2px 5px 11px 0px rgba(66, 66, 66, 0.288);
  padding: 16px 1px;
  font-size: 18px;

  transition: opacity var(--transition-principal);
  opacity: 0.5;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu > li {
  display: flex;
}

.sub-menu > li:hover {
  background-color: rgb(224, 232, 255);
}

.sub-menu > li a {
  color: rgb(44, 44, 44);
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
}

.sub-menu > li > a > svg {
  width: 16px;
}

/* sub-menu_2 */

.sub-menu_2 {
  display: none;
  position: absolute;
  width: 135%;
  height: 100%;
  left: 96%;
  top: 0;
  background-color: #f1f1f1;
  z-index: 2;
  box-shadow: 6px 5px 11px 0px rgba(66, 66, 66, 0.288);
  border-bottom-right-radius: 5px;
  padding: 25px 0;
  font-size: 16px;

  transition: 0.5s;
}

.sub-menu_2 > li a {
  padding: 6px 25px;
}

.sub-menu_2 > li a:hover {
  background-color: #e6e6e6;
}

.sub-menu > li:hover .sub-menu_2 {
}
